*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
}
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(81, 184, 166), rgb(47, 181, 214));
}
.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);

}

.display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 7px;
  color: #fff;
  font-size: 3rem;

}

.zero {
  grid-column: 1/3;
}

.btn {
  cursor: pointer;
  font-size: 3rem;
  border: 1px solid rgb(166, 196, 241);
  outline: none;
  background-color: rgba(25, 154, 187, 0.75);
  border-radius: 7px;
 text-align: center;
 line-height: 100px;
 color: #fff;
 transition: all .5s ease-in-out;
}

.btn:hover {
  background-color: rgba(53, 103, 143, 0.75);
  color: rgb(175, 232, 255);

}
.operator{
    background-color: rgba(199, 79, 43, 0.8);

}